body {
    background-color: black;
    color: white;
    font-family:"Lucida Console", "Courier New", monospace;
}
.nav a{
    color:white;
}
.nav a:hover{
    color:lime;
}
.infome h1,h2{
    font-size: 40px;
    color:white;
    margin-left: 50px;
}
